* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
i,
ul,
li {
  cursor: pointer;
}
li,
i {
  color: rgb(184, 184, 184);
}
li:hover,
i:hover {
  color: rgb(255, 255, 255);
}
